<div class="main-content" style="background: linear-gradient(60deg, #d5e11b7a, #35e55b36);
height: 90%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" style=" background: linear-gradient(60deg, #14d4e7, #e2e535);
                        font-weight: bold;">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-xs-12">
                                <h4 class="card-title" style="color: black; font-weight: bold;">Editar Datos de Agencia
                                </h4>
                                <p class="card-title" style="color: black;">Selecciona la agencia a editar:</p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-xs-12">
                                <p class="card-title" style="font-size: 20px; color: red;">Agencia:
                                    <select name="select"
                                        style="text-align:center; border-color: black ;color: black; font-size: 20px;background-color: rgb(230, 165, 14);">
                                        <option disabled selected> Seleccionar</option>
                                        <option value="1">Trujillo</option>
                                        <option value="2">Cajamarca</option>
                                        <option value="3">Lima</option>
                                    </select>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Correo Electrónico de Agencia">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Ciudad">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nombre de Administrador" type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Telefono" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Contraseña" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Correo Electrónico de Administrador" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Contraseña" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Repetir Contraseña" type="text">
                                    </mat-form-field>
                                </div>
                                <!--<div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Postal Code" type="text">
                                    </mat-form-field>
                                </div> -->
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <label>About Me</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput
                                            placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                    </mat-form-field>
                                     <div class="form-group">
  
                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> 
                                </div>
                            </div> -->
                            <button mat-raised-button type="submit"
                                class="btn btn-danger pull-right">Actualizar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>